freetype-*
lpng1*
libpng-*
zlib-*
jpeg-*
giflib-*
tiff-*
cairo-*
fontconfig-*
gettext
glib-*
harfbuzz-*
icu-*
libffi-*
libiconv-*
libxml2-*
pango-*
pixman-*

*/libs/
*/*/vsprops-base


*.sdf
*.suo
*.user
ipch
*.opensdf
*.opendb
*.VC.db
*/projects/include/*
*/projects/libs/*
*/projects/output
**/objs/**
**/Debug-*
***/Release-*
*.cache
*.log
*.bak
*.gz
*.xz
*.tgz
*.bz2

!*/projects/include/__create_links.bat
!*/projects/libs/__create_links.bat


icu/source/stubdata/stubdatabuilt.txt