freetype-*
lpng1*
libpng*
zlib-*
jpeg-*
giflib-*
tiff-*
cairo-*
fontconfig-*
gettext
glib-*
harfbuzz-*
icu-*
libffi-*
libiconv-*
libxml2-*
pango-*
pixman-*


*.sdf
*.suo
*.user
ipch
*.opensdf
*.opendb
*/projects/include
*/projects/libs
*/projects/output
**/objs/**
**/Debug-*
***/Release-*
*.cache
*.log
*.bak
*.gz
*.xz
*.tgz
*.bz2